.jumbotron {
	background-color: #7FFFD4;
	color: white;
	margin-top: 50px;
}

.jumbotron.home {
	background-image: url(/imagenes/barcelona.jpg);
	background-size: cover;
	background-position: center;
	color: #003399;
}

.btn-primary {
	background-color: lightgreen;
	border: none;
}

.btn-primary:hover {
	background-color: orange;
}

footer {
	margin-top: 40px;
	background-color: lightgray;
	padding: 20px;
}

.btn-full {
	position: 0;
	width: 100%;
}

.card-hotel {
	margin: 7px;
    min-width: 12rem;
    max-width: 22rem;
    width: 46%;
<<<<<<< HEAD
}
.card-hotel h4 {
	display: initial;
    width: auto;
    margin-bottom: .75rem;
=======
>>>>>>> e8b4b41a1e8956cb4d01d389ea49b1792406fc35
}

.icon-button-learn-more {
	padding: 8px;
}

.footer-icons {
	min-width: 16px;
	padding: 8px;
}

.card-hotel img.card-img-top {
    max-height: 110px;

<<<<<<< HEAD
}

ul#myTab {
	margin-bottom: 20px;
}

.margin-bottom-20 {
	margin-bottom: 0.4em !important;
}

.h-300 {
	height: 500px;
}

.position-sticky {
	position: sticky;
=======
>>>>>>> e8b4b41a1e8956cb4d01d389ea49b1792406fc35
}